$mainBgColor: #fff8f3;
$secondaryBgColor: #a5978e;

$mainkColor: rgba(51, 51, 51, .5);
$secondaryColor: #333;

$whiteColor: #fff;
$blackColor: #000;

$darkColor: #111;
$tintColor: #aaa;

$accentColor: #343444;
