  <!-- SECTION HEADER -->
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <a href="#" class="logo"><img class="logo__image" src="" alt=""></a>
        <nav class="menu header__menu">
          <ul class="menu__list header__menu-list">
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
            <li class="menu__item"><a href="#" class="menu__link"></a></li>
          </ul>
        </nav>
        HEADER
        <button class="burger-menu-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </header>
  <main>